.content {
	width: 600px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

.premovie {
	width: 280px;
	height: 463.56px;
	position: absolute;
	margin-left: 20px;
	background-color: skyblue; 
}

.premovie img{
	width: 280px;
	height: 400px;
}

.bestmovie {
	width: 280px;
	height: 463.56px;
	float: right;
	margin-right: 20px;
	background-color: skyblue;
}
.bestmovie img{
	width: 280px;
	height: 400px;
	float: right;
}

#container{
	margin-left: 140px;
}