body{
		width: 1080px;
		height: 990px;
		text-align: center;
		margin-left: 411.5px; 
	}
	.main{
		width: 1080px;
		height: 93px;
		background-color: yellow;
		margin-bottom: 20px;
	}
	.main_header h1{
		margin: 0px;
	}
	.welcome{
		float: right;
	}
	.main_info{
		margin-top: 30px;
		margin-left: 740px; 
	}