@charset "UTF-8";


#container{
	position: relative;
	width : 20rem; 
	border-radius : 20px;
	left : auto;
	right: auto;
}


h2{
	 color:#113366;
}

#SearchId{
	margin-left: 8px;
}

.main{
/* 	left: 100px; */
}

#loginForm{
	margin-top: 30px;
}

#div{
	margin-top: 50px;
}

#div2{
	margin-bottom: 50px;
}